* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}

:root {
	--text-color: #E7D7FA;
	--bg-color: #0A0211;
	--bg-light-color: #271A30;
	--primary-color: #2BD85F;
	--secondary-color: #B0E8B3;
    --card-color: #
}


#userPicture img {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.userInfo {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 15px;
    margin: 20px 0 20px;
}

.userInfo h1, .userInfo h3 {color: var(--bg-color);}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: black;
    border-radius: 15px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.card img {width: 300px; border-radius: 15px;}

a, span, p, div,
h1, h2, h3, h4, h5, h6 {
	color: var(--text-color);
}

.goToDoc {
	display: block;
    border-radius: 16px;
    border: 3px solid var(--secondary-color);
    text-align: center;
    width: 300px;
    padding: 10px;
    transition-duration: 1s;
    margin: 20px 0;
}

.goToDoc:hover {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--bg-light-color);
}

body {
	background-color: var(--bg-color);
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 60px;
    gap: 20px;
    color: white;
}

header {
	border-bottom: 1px solid var(--bg-light-color);
    height: 60px;
    text-align: center;
    padding: 0 50px 0 50px;
}


a {
    text-decoration: none;
}

.block {
	padding: 16px;
	margin: 16px;
	border: 1px solid var(--bg-light-color);
	border-radius: 32px;
}

.block > h2 {
	color: var(--bg-color);
	background-color: var(--secondary-color);
	border-radius: 16px;
	margin-bottom: 16px;
	text-align: center;
	font-size: 32px;
}

.block > p {
	font-size: 22px;
	width: 900px;
	margin: 0 auto;
}


footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 60px;
    gap: 20px;
}

footer {
	border-bottom: 1px solid var(--bg-light-color);
    height: 60px;
    text-align: center;
    padding: 0 50px 0 50px;
}

.form {display: flex; flex-direction: column;}

.form input, .form button {background-color: var(--bg-light-color); color: var(--text-color); height: 30px; margin: 5px 0;}

.form button {height: 60px;}

#file {height: 200px; display: flex; flex-direction: column; align-items: center; justify-content: center; border: 2px dashed var(--secondary-color);}