
:root {
	--text-color: #E7D7FA;
	--bg-color: #0A0211;
	--bg-light-color: #271A30;
	--primary-color: #2BD85F;
	--secondary-color: #B0E8B3;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu";
}

a, span, p, div,
h1, h2, h3, h4, h5, h6 {
	color: var(--text-color);
}

body {
	background-color: var(--bg-color);
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 60px;
    gap: 20px;
}

header {
	border-bottom: 1px solid var(--bg-light-color);
    height: 60px;
    text-align: center;
    padding: 0 50px 0 50px;
}

.hero img {
	height: 400px;
	border-radius: 16px;
	padding: 16px;
	margin: 0 32px 0 0;
	background-color: var(--primary-color);
}

.hero {
    display: flex;
	padding: 16px;
    border-radius: 32px;
    border: 1px solid var(--bg-light-color);
	margin: 16px;
}

.heroText {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heroDesc {
	margin-top: 16px;
}

.heroDesc p {
	margin-bottom: 16px;
}

.heroButton {
	display: block;
    border-radius: 16px;
    border: 3px solid var(--secondary-color);
    text-align: center;
    width: 300px;
    padding: 10px;
    transition-duration: 1s;
}

.heroButton:hover {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--bg-light-color);
}

.heroButton {
	color: inherit;
}

a {
    text-decoration: none;
}

.block {
	padding: 16px;
	margin: 16px;
	border: 1px solid var(--bg-light-color);
	border-radius: 32px;
}

.block > h2 {
	color: var(--bg-color);
	background-color: var(--secondary-color);
	border-radius: 16px;
	margin-bottom: 16px;
	text-align: center;
	font-size: 32px;
}

.block > p {
	font-size: 22px;
	width: 900px;
	margin: 0 auto;
}

.block > div > details {
	margin-bottom: 16px;
}

.block > div > details:last-child {
	margin-bottom: 0;
}

.block > div > details > summary::before {
	content: 'В: ';
}

.block > div > details > summary {
    list-style-type: '';
	font-size: 24px;
	padding: 4px 8px;
	color: var(--text-color);
	background-color: var(--bg-color);
	border-radius: 16px;
	border: 1px solid var(--bg-light-color);
	cursor: pointer;
}

.block > div > details > div::before {
	content: 'О: ';
}

.block > div > details > div {
	background-color: var(--bg-color);
	padding: 8px;
	border-radius: 16px;
	border: 1px solid var(--bg-light-color);
}

.block > div > details[open] > summary {
	margin-bottom: 4px;
    list-style-type: '';
	color: var(--bg-color);
	border: none;
	background-color: var(--secondary-color);
}


#reviews ul{padding: 0; margin: 0;}

.reviewsList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;

}

.reviewsList > li {
	width: 450px;
	height: 200px;
	padding: 16px;
	border-radius: 24px;
	box-shadow: 0 0 16px 0px black;
}

.author, .author > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.author p {
	font-size: 16px;
}

.author > div img {
	border-radius: 100%;
	margin-right: 16px;
}

.stars {
	display: flex;
	flex-direction: row;
}

.stars > li {
	margin-left: 4px;
}

.content {
	margin-top: 8px;
	border-radius: 16px;
	padding: 8px;
}

.row {
	display: flex;
	flex-direction: row;
	margin-top: 16px;
	justify-content: space-evenly;
}

#reviews  h2 {
	text-align: center;
	font-size: 32px;
}

#reviews * {list-style: none;}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 60px;
    gap: 20px;
}

footer {
	border-bottom: 1px solid var(--bg-light-color);
    height: 60px;
    text-align: center;
    padding: 0 50px 0 50px;
}

#about h2 {margin: 20px auto;} 